<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://fonts.google.com/css2?family=Inter&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    {% block head_content %} {% endblock %}
</head>

<body>
    <header class="header">
        <h1 class="header__logo"><a href="{{ url_for('habits.index')}}" class="header__link">Tasks</a></h1>
        {% if "add" not in request.endpoint %}
            <a class="header__link" href="{{ url_for('habits.add_habit') }}">+ Add New</a>
        {% endif %}
    </header>
    <main class="main">
        <section class="dates">
            {% for date in date_range(selected_date) %}
                <a href="{{ url_for('habits.index', date=date) }}" class="dates__link {{ 'dates__link--current' if loop.index0 == 3 else ''}}">
                    <time class="date" datetime="{{ date }}">
                        <span>{{ date.strftime("%a") }}</span>
                        <span>{{ date.strftime("%d") }}</span>
                    </time>   
                </a>
            {% endfor %}
        </section>
        {% block main_content %}
        {% endblock %}
    </main>
</body>

</html>